In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib as plt

In [6]:
# importing dataframes from 'project_dataclean'
city_data = pd.read_csv("Resources/Clean_Data/CityData/city_data_rent_murders_population.csv")
county_data = pd.read_csv("Resources/Clean_Data/CountyData/county_data_food_unemployment.csv")

In [7]:
county_data.head()

,Unnamed: 0,State,County,Population,People 1/2 Mile and More,People 1 Mile and More,People 10 Miles and More,People 20 Miles and More,Civilian labour force,Employed poulation,Unemployed population,Rate of Unemployment
0,0,SC,Abbeville,25417.0,24360.33225,21510.19482,5176.769348,0.000000,"10,349","9,637",712,7.0
1,1,LA,Acadia,61773.0,44415.58912,32874.79307,625.970960,0.000000,"25,858","24,088","1,770",7.0
2,2,VA,Accomack,33164.0,30163.64972,26847.70482,727.000007,0.000000,"15,877","15,012",865,5.0
3,3,ID,Ada,392365.0,299582.0814,137142.5048,209.471626,1.931907,"217,052","209,058","7,994",4.0
4,4,IA,Adair,7682.0,5496.847853,4916.79045,605.066287,0.000000,"4,226","4,089",137,3.0

In [8]:
city_data.head()

,Unnamed: 0,City,State,Average Rent,Murders,Population,"Murder Rate (per 100,000)"
0,0,New York,NY,"$2,978",266,"8,550,405",2.9
1,1,Los Angeles,CA,"$3,195",209,"3,971,883",5.2
2,2,Chicago,IL,"$1,758",378,"2,720,546",19.7
3,3,Houston,TX,"$1,490",191,"2,296,224",9.2
4,4,San Antonio,TX,"$1,115",78,"1,469,845",7.6