In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import csv

# File to Load (Remember to Change These)
food_data_to_load = "Resources/food_access_and_population_2015.csv"
unemployment_data_to_load = "Resources/unemployment_2007-2017.csv"
county_data_to_load = "Resources/cities_and_counties.csv"
murder1415_data_to_load = "Resources/murder_rates_2014-15.csv"
murder1516_data_to_load = "Resources/murder_rates_2015-16.csv"

# Read School and Student Data File and store into Pandas Data Frames
food_data = pd.read_csv(food_data_to_load)
unemployment_data = pd.read_csv(unemployment_data_to_load)
county_data = pd.read_csv(county_data_to_load)
murder1415_data = pd.read_csv(murder1415_data_to_load)
murder1516_data = pd.read_csv(murder1516_data_to_load)

In [56]:
food_state = food_data['State']
food_county = food_data['County']
food_pop = food_data['Population']
food_people_half = food_data['People.1/2 Mile']
food_people_one = food_data['People.1 Mile']
food_people_ten = food_data['People.10 Miles']
food_people_twenty = food_data['People.20 Miles']

fooddata_clean = pd.DataFrame(
    {"State": food_state,"County": food_county, "Population": food_pop, 
      "People 1/2 Mile and More": food_people_half, "People 1 Mile and More": food_people_one, 
      "People 10 Miles and More": food_people_ten, "People 20 Miles and More": food_people_twenty})

fooddata_clean.head()

,State,County,Population,People 1/2 Mile and More,People 1 Mile and More,People 10 Miles and More,People 20 Miles and More
0,SC,Abbeville,25417.0,24360.33225,21510.19482,5176.769348,0.000000
1,LA,Acadia,61773.0,44415.58912,32874.79307,625.970960,0.000000
2,VA,Accomack,33164.0,30163.64972,26847.70482,727.000007,0.000000
3,ID,Ada,392365.0,299582.0814,137142.5048,209.471626,1.931907
4,IA,Adair,7682.0,5496.847853,4916.79045,605.066287,0.000000

In [57]:
fooddata_clean.to_csv('Resources/Clean_Data/foodpop_data')

In [58]:
# Drop a rows for PR since data contains PR, States and total US numbers will alos have to be removed
unemployment_data1 = unemployment_data[unemployment_data.State != 'PR']
states_country_data = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut',
                       'Delaware','Florida','Georgia','Hawaii','Idaho', 'Illinois','Indiana',
                       'Iowa','Kansas','Kentucky','Louisiana','Maine' 'Maryland','Massachusetts',
                       'Michigan','Minnesota','Mississippi', 'Missouri','Montana','Nebraska','Nevada',
                       'New Hampshire','New Jersey','New Mexico','New York','North Carolina,,,',
                       'North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South  Carolina',
                       'South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia',
                       'Wisconsin','Wyoming', 'United States']

for i in range (len(states_country_data)):
    unemployment_data1 = unemployment_data1[unemployment_data.Area_name != states_country_data[i]]
    
unemployment_data1['County_listing'], unemployment_data1['State2']  = unemployment_data1['Area_name'].str.split(', ', 1).str

unemployment_data1['County'], unemployment_data1['N/A'] = unemployment_data1['County_listing'].str.split(' ', 1).str

unemp_state = unemployment_data1['State']
umemp_county = unemployment_data1['County']
umemp_civilianlabor = unemployment_data1[' Civilian_labor_force_2015 ']
unemp_employed = unemployment_data1[' Employed_2015 ']
unemp_unemployed = unemployment_data1[' Unemployed_2015 ']
unemp_unemp_rate = unemployment_data1['Unemployment_rate_2015']

unemployment_clean = pd.DataFrame(
    {"State": unemp_state,"County": umemp_county, "Civilian labour force": umemp_civilianlabor, 
      "Employed poulation": unemp_employed, "Unemployed population": unemp_unemployed, 
      "Rate of Unemployment": unemp_unemp_rate})

unemployment_clean.head()

C:\Users\bella\Miniconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

,State,County,Civilian labour force,Employed poulation,Unemployed population,Rate of Unemployment
2,AL,Autauga,"25,602","24,272","1,330",5.0
3,AL,Baldwin,"87,705","82,843","4,862",6.0
4,AL,Barbour,"8,609","7,844",765,9.0
5,AL,Bibb,"8,572","8,005",567,7.0
6,AL,Blount,"24,473","23,152","1,321",5.0

In [59]:
unemployment_clean.to_csv('Resources/Clean_Data/unemployment_data')

In [60]:
countydata_state = county_data['state_id']
countydata_county = county_data['county_name']
countydata_city = county_data['city_ascii']

countydata_clean = pd.DataFrame({"State": countydata_state,"County": countydata_county, "City": countydata_city})

countydata_clean.head()

  State  County            City
0    WA  Pierce   Prairie Ridge
1    WA  Skagit          Edison
2    WA   Lewis        Packwood
3    WA  Kitsap  Wautauga Beach
4    WA  Kitsap          Harper

In [61]:
countydata_clean.to_csv('Resources/Clean_Data/countycity_data')

In [62]:
murderdata_state = murder1516_data['state']
murderdata_murders = murder1516_data['2015_murders']
murderdata_city = murder1516_data['city']
murderdata_source = murder1516_data['source']

murderdata_clean = pd.DataFrame({"State": murderdata_state,"City": murderdata_city,
                                 "Murders": murderdata_murders, "Source": murderdata_source })

murderdata_clean.head()

,State,City,Murders,Source
0,Illinois,Chicago,378,https://portal.chicagopolice.org/portal/page/p...
1,Florida,Orlando,19,OPD
2,Tennessee,Memphis,114,MPD
3,Arizona,Phoenix,72,PPD
4,Nevada,Las Vegas,90,http://www.lvmpd.com/Sections/Homicide/Homicid...

In [63]:
murderdata_clean.to_csv('Resources/Clean_Data/murder_data')